<?xml version="1.0"?>
<model>
    <name>My Gripper</name>
    <version>1.0</version>
    <sdf version='1.4'>simple_gripper.sdf</sdf>
    <author>
        <name>yamashita</name>
        <email>yamashitaaoi1230@icloud.com</email>
    </author>
    <description>
        My Gripper Robot
    </description>
</model>